// colors

$color-1: #2e3233; // grey dark
$color-2: #09c; // замена зеленого
$color-3: #e2e3df; // grey light 
$color-4: #ffffff; // white

// fonts 

$primary-font: sans-serif;

// header size

$header-height-S: 50px;
$header-height-L: 80px;

// Navigation size

$nav-width-S: 260px;

// Search size

$search-height-S: 50px;
$search-height-L: 120px;

// z-index

$below-content: 1;
$content: 2;
$above-content: 3;